.banner-section {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  z-index: 10;

  .banner-background {
    position: fixed;
    width: 100%;
    height: 100%;
  }

  .start-bg {
    position: fixed;
    height: 100%;
    bottom: 0;
  }

  .road-bg {
    position: fixed;
    width: 1175px;
    bottom: 0;
  }

  .bg-decorate-001 {
    position: fixed;
    width: 430px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .bg-decorate-005 {
    position: fixed;
    width: 485px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .traffic-light-container {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    
    .traffic-text {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -100%);
      font-size: 32px;
      color: #ff5136;
    }

    .traffic-light {
      width: 275px;
    }

    .red-light {
      position: absolute;
      width: 45px;
      top: 55px;
      right: 195px;
      transform: translateY(-50%);
    }

    .yellow-light {
      position: absolute;
      width: 45px;
      top: 55px;
      right: 130px;
      transform: translateY(-50%);
    }

    .green-light {
      position: absolute;
      width: 45px;
      top: 55px;
      right: 65px;
      transform: translateY(-50%);
    }
    
  }


  .logo {
    position: fixed;
    width: 680px;
    margin-top: 44px;
  }

  .sub-title {
    position: fixed;
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 8px 40px;
    border-radius: 100px;
    top: 280px;
    color: #fff;
    background: #ff5136;
    box-sizing: border-box;
  }

  .character-conatiner {
    position: fixed;
    bottom: 0;
    
    .character-1, .character-3 {
      width: 351px;
    }

    .character-2 {
      width: 370px;
    }
  }

  .bg-decorate-09 {
    position: fixed;
    width: 150px;
    bottom: 0;
    opacity: 0;

    &-l {
      left: 10%;
      transform: matrix(-1, 0, 0, 1, 0, 0) translateX(-50%);
    }

    &-r {
      right: 10%;
      transform: translateX(-50%);
    }
  }
  
}

@media (max-width: 1920px) {
  .banner-section {
    .logo {
      width: 253px;
    }
  }
}