.App {
  display: block;
  width: 100%;
  min-height: 9200px;
  background: #ffc37d;

  .section {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    top: 0;
  }

  .start-bg {
    position: absolute;
    height: 100%;
    bottom: 0;
  }

  .road-bg {
    position: absolute;
    width: 1175px;
    bottom: 0;
  }

  .bg-decorate-001 {
    position: absolute;
    width: 430px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .bg-decorate-005 {
    position: absolute;
    width: 485px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .traffic-light-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    
    .traffic-text {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -100%);
      font-size: 32px;
      color: #ff5136;
    }

    .traffic-light {
      width: 275px;
    }

    .red-light {
      position: absolute;
      width: 45px;
      top: 55px;
      right: 195px;
      transform: translateY(-50%);
    }

    .yellow-light {
      position: absolute;
      width: 45px;
      top: 55px;
      right: 130px;
      transform: translateY(-50%);
    }

    .green-light {
      position: absolute;
      width: 45px;
      top: 55px;
      right: 65px;
      transform: translateY(-50%);
    }
    
  }

  .logo {
    position: relative;
    width: 680px;
    margin-top: 44px;
  }

  .sub-title {
    position: relative;
    margin: 0;
    padding: 8px 40px;
    border-radius: 100px;
    color: #fff;
    background: #ff5136;
    box-sizing: border-box;
  }

  .character-conatiner {
    position: absolute;
    bottom: 0;
    
    .character-1, .character-3 {
      width: 351px;
    }

    .character-2 {
      width: 370px;
    }
  }
  
}

@media (max-width: 1920px) {
  .App {
    .logo {
      width: 253px;
    }
  }
}